body {
    margin: 0;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 500px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 40px 12px 15px;
    background: #eeeeee71;
    font-size: 18px;
    transition: 0.3s;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #ddd;
    width: 500px;
    max-width: 100%;
}

li {
    word-wrap: break-word; 
    white-space: normal; 
    overflow-wrap: break-word; 
    padding: 0 20px 0 0;
}

ul li:nth-child(odd) {
    background: #506050c9;
}

ul li:hover {
    background-color: #6772677d;
}

ul li.checked {
    background: #888888b7;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ffffff00;
    border-style: solid;
    border-width: 2px;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}

.close:hover {
    color: white;
}

.header {
    background-color: #c2b9a5a8;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.addButton {
    width: 100%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 0;
}

.addButton:hover {
    background-color: #bbb;
}